.expenseEntry {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 1rem;
  flex-wrap: wrap;
}

input[type="text"] {
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

button {
  width: 150px;
  height: 25px;
  background: none;
  border: none;
  color: #fff;
  font-size: 15px;
  background: #009879;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
